<header>
  <div class="row">

  	<div class="col-md-5 text-left" style="margin-top: 30px; margin-left: 30px;"> 
        <img src="<%= asset_path 'bioestadistica.png' %>">
    </div> 

  	<div class="text-right col-md-6" style=" margin-bottom: 20px; margin-left: 30px; margin-top: 20px">
        <img src="<%= asset_path 'fncafeteros.jpg' %>">
      </div>
  </div>
</header>

<div class="continer">
  <h4 class="text-center" style="margin-left: 100px; margin-right: 100px;">ENCUESTA NACIONAL DE CARACTERIZACIÓN SOCIOECONÓMICA A HOGARES CAFETEROS - LINEA BASE 2018</h4>
  <h6 class="alert alert-danger" role="alert" style="margin-left: 30px; margin-right: 30px; margin-top: 30px;">Confidencialidad: Este trabajo es propiedad de la Federación Nacional de Cafeteros de Colombia.  No puede transmitirse o distribuirse sin la autorización escrita.  La persona es libre de responder o no este formulario, si decide hacerlo la información sera tratada con total reserva.</h6>
</div>
	
</div>
<%= render 'form', encuestum: @encuestum %>
