<br>
<br>
<h2>Encuesta guardada con exito</h2>

<div class="btn btn-primary btn-md col-md-4">
      <%= link_to 'Editar', edit_encuestum_path(@encuesta1) , {class: "btn btn-primary btn-lg", id:"#Guardar_Sin_Internet"} %>
</div>
