<br>
<H2 class="text-center">Encuesta guardada con Exito!!!</H2>
<br>
<div class="text-center">
	<%= link_to 'Haga clic aqui para una Nueva Encuesta', new_encuestum_path , {class:"btn btn-primary btn-xl", style:"color:  white;"} %>
</div>
